registry=http://nexus.hq.viviport.com:8081/nexus/content/repositories/npmjs/
proxy=http://192.169.1.253:3128/
http-proxy=http://192.169.1.253:3128/
https-proxy=http://192.169.1.253:3128/
npm config set loglevel="warn"